:root{
    --blue:#5465FF;
    --light_black:#2A2A2A;
    --black:#1E1D1D;
  }
.navbar_container{
  background-color:var(--black);
  position:fixed;
  width:100%;
  z-index:9999;
}
.navbar_container .navbar_list{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:row;
  height:90px;
  margin:0rem 4rem;

}
.navbar_container .navbar_list .navbar_items{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}
.navbar_container .navbar_list .navbar_items .logo{
  width:123.28px;
  height:20px;
  cursor:pointer;
}
.navbar_container .navbar_list .navbar_items ul{
  list-style-type:none;
  margin-left:2rem;
}
.navbar_container .navbar_list .navbar_items ul li{
  display:inline-block;
  padding:0rem 2rem;
}
.navbar_container .navbar_list .navbar_items ul li a{
  font-size:14px;
  font-family:"Medium";
  line-height:20px;
  color:white;
  text-decoration:none;
  transition: all 0.5s ease-in-out;
}
.navbar_container .navbar_list .navbar_items ul li a:hover{
  transition: all 0.5s ease-in-out;
  opacity:0.8;
}

.navbar_container .navbar_list .navbar_btns{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:row;
}
.navbar_container .navbar_list .navbar_btns .signin{
  font-size:14px;
  font-family:"Medium";
  line-height:20px;
  color:white;
  background-color:transparent;
  border:none;
  outline:0;
  text-decoration:none;
  transition: all 0.4s ease-in-out;
  cursor:pointer;
  margin-right:3rem;
}
.navbar_container .navbar_list .navbar_btns .free{
  font-size:14px;
  font-family:"Medium";
  line-height:20px;
  color:var(--black);
  background-color:white;
  border:none;
  outline:0;
  text-decoration:none;
  transition: all 0.4s ease-in;
  width:135px;
  height:40px;
  border-radius:10px;
  cursor:pointer;
}
.navbar_container .navbar_list .navbar_btns .free:hover{
  background-color:transparent;
  border:0.5px solid white;
  border-radius:10px;
  color:white;
  transition: all 0.4s ease-in;
}
/* menu bar */
.navbar_container .navbar_list .menu{
  display:none;
}
.navbar_container .navbar_list .menu .bar_items{
  cursor:pointer;
}
.navbar_container .navbar_list .menu .bar_items .bar{
  display:block;
  width:28px;
  height:2px;
  background-color:white;
  margin-top:5px;
  transition: all 0.3s ease-in;
}
.navbar_container .navbar_list .menu .bar_items .bar:nth-child(1){
  width:28px; 
}
.navbar_container .navbar_list .menu .bar_items .bar:nth-child(2){
  width:28px; 
}
.navbar_container .navbar_list .menu .bar_items .bar:nth-child(3){
  width:28px; 
}
/* hamburger menu */
.hamburger_container{
  display:none;
}

@media only screen and (max-width:769px){
  .navbar_container .navbar_list{
    margin:0rem 2rem;
  }
  .navbar_container .navbar_list .navbar_items ul{
    display:none;
  }
  .navbar_container .navbar_list .navbar_btns {
    display:none;
  }
  /* menu */
  .navbar_container .navbar_list .menu{
    display:block;
  }

  #mobile_menu.is-active .bar:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }
  #mobile_menu.is-active .bar:nth-child(2){
      opacity:0;
      transition: 250ms all ease-out;
  }
  #mobile_menu.is-active .bar:nth-child(3){
      transform: translateY(-8.5px) rotate(-45deg);
  }
  /* hamburger menu */
  .hamburger_container{
    display:none;
    left:0;
    transition: 250ms all ease-in-out;
    box-sizing: border-box;
}
.hamburger_container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* margin:0px 3.5rem; */
    height:100vh;
    width: 100%;
    left:0;
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: 250ms all ease-in-out;
}
.hamburger_links{
    list-style: none;
    margin-top:6rem;
    flex-basis:40%;
}
.hamburger_links li {
    margin-bottom: 3rem; 
}
.hamburger_links li a{
    font-size:20px;
    font-family: "Medium";
    color:white;
    text-decoration:none;
    text-align:center;
    transition:0.5s all ease-in;
}
.hamburger_links li a:hover{
  opacity:0.6;
  transition:0.5s all ease-in;
}
.hamburger_links li:nth-child(4){
    margin-bottom:50px;
}
.hamburger_container .hamburger_buttons{
  display:flex;
  flex-direction:column;
  flex-basis:60%;
  margin-bottom:2rem;
}
.hamburger_container .hamburger_buttons .signin{
  font-size:14px;
  font-family:"Medium";
  line-height:20px;
  color:var(--black);
  background-color:white;
  border:none;
  outline:0;
  text-decoration:none;
  transition: all 0.5s ease-in;
  cursor:pointer;
  width:280px;
  height:50px;
  border-radius:10px;
  margin-bottom:1rem;
}
.hamburger_container .hamburger_buttons .signin:hover{
  background-color:transparent;
  border: 1px solid white;
  border-radius:10px;
  transition: all 0.5s ease-in;
  color:white;
}
.hamburger_container .hamburger_buttons .free{
  font-size:14px;
  font-family:"Medium";
  line-height:20px;
  color:white;
  background-color:var(--blue);
  border:none;
  outline:0;
  text-decoration:none;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
  width:280px;
  height:50px;
  border-radius:10px;
}
.hamburger_container .hamburger_buttons .free:hover{
  background-color:transparent;
  border: 1px solid white;
  border-radius:10px;
  transition: all 0.5s ease-in;
  color:white;
}
}
@media only screen and (max-width:900px){
  .navbar_container .navbar_list .navbar_items ul{
    margin-left:1rem;
  }
  .navbar_container .navbar_list .navbar_items ul li{
    display:inline-block;
    padding:0rem 1rem;
  }
  
}