:root{
    --blue:#5465FF;
    --light_black:#2A2A2A;
    --black:#1E1D1D;
  }
.footer_container{
    background-color:var(--black);
}
.footer_container .logo_container{
    margin:0rem 4rem;
}
.footer_container .footer_box .logo{
    width:120.08px;
    height:20px;
  }
  .footer_container .footer_items{
      padding:4.5rem 4rem;
  }
  .footer_container .footer_itembox{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
  }

  .footer_container .footer_itembox ul{
      list-style:none;
      margin-right:12rem;
  }
  .footer_container .footer_itembox ul li{
      padding: 1rem 0rem;
  }
  .footer_container .footer_itembox ul li a{
      font-size: 14px;
      font-family:"Medium";
      color: #fff;
      text-decoration: none;
      opacity:0.8;
      transition:0.2s ease-in;
  }
  .footer_container .footer_itembox ul li a:hover{
      opacity:0.5;
      transform: translateX(-5px);
      transition:0.2s ease-in;
  }
  .footer_container .contact{
      bootom:0;
      margin-top:3rem;
  }
  .footer_container .contact p{
    font-size: 13px;
    font-family:"Regular";
    color: #fff;
    opacity:0.7;
  }

@media only screen and (max-width:900px){
    
    .footer_container .logo_container{
        margin:1.5rem 2rem;
    }
    .footer_container .footer_items{
        padding:1rem 2rem;
    }
    .footer_container .footer_itembox{
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-direction:column;
      }
      .footer_container .footer_itembox ul{
          padding:1.5rem 0rem;
          /* margin-right:8rem; */
      }
      .footer_container .contact p{
          text-align:center;
      }
}
@media only screen and (max-width:1100px){
    .footer_container .footer_itembox ul{
        padding:1.5rem 0rem;
        margin-right:8rem;
    }
}