@font-face{
  font-family: 'Black';
  src: url('./assets/fonts/AirbnbCerealBlack.ttf') format("truetype"); 
}
@font-face{
  font-family: 'Bold';
  src: url('./assets/fonts/AirbnbCerealBold.ttf') format("truetype"); 
}
@font-face{
  font-family: 'Regular';
  src: url('./assets/fonts/AirbnbCerealBook.ttf') format("truetype"); 
}
@font-face{
  font-family: 'Extra-Bold';
  src: url('./assets/fonts/AirbnbCerealExtraBold.ttf') format("truetype"); 
}
@font-face{
  font-family: 'Light';
  src: url('./assets/fonts/AirbnbCerealLight.ttf') format("truetype"); 
}
@font-face{
  font-family: 'Medium';
  src: url('./assets/fonts/AirbnbCerealMedium.ttf') format("truetype"); 
}

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
